body{
	background-color: #dcdcdc;
	margin:0;
	font-family: Helvetica, sans-serif;
	line-height: 25px;
}

.header {
	position: relative;
	display: block; /* Для старых браузеров */
    border-bottom-width: 5px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: black; /* Цвет линии внизу */
    border-radius: 0 0 20px 20px;	
	height: auto;
	max-width: 100%;
	width: 100%;
	min-width: 10%;
	bottom: 5px;
	z-index:-1;
}

.info{
	font-size: small;
	font-weight: 100;
}

.since{
	font-size: 10;
	line-height: 1px;
}

.footer{
	height: auto;
	width: 10%;
}

.random{
    padding: 8px 16px 8px;
    margin: 0;
    font-size: 13px;
    /*display: inline-block;*/
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
 }

.random:hover {
 	background-color: #5b88bd;
    text-decoration: none;
 }

.random:active {
    background-color: #49678d;
    padding-top: 8px;
    padding-bottom: 7px;
 }

hr {
	border: 1px solid #49678d;
}